<ion-content no-padding>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-img src="../../assets/img/architecture-building-capital-1850619.jpg"></ion-img>
  <ion-item padding>
    <form>
      <ion-label>Où</ion-label>
      <ion-input type="search" placeholder="Où voulez-vous aller .."></ion-input>
    </form>
  </ion-item>
</ion-content>


<ion-content>
  <ion-text color="primary">
    <h3><ion-icon size="small" color="dark" name="bookmark"></ion-icon>Les dernières annonces</h3>
  </ion-text>

  <ion-slides pager="true" margin-bottom>
    <ion-slide>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="12">
            <ion-card class="hotelsCard" tappable routerLink="/details-item">
              <ion-img src="https://images.pexels.com/photos/1397518/pexels-photo-1397518.jpeg?cs=srgb&dl=architecture-buildings-business-1397518.jpg&fm=jpg"></ion-img>

              <ion-card-subtitle>
                <ion-badge color="warning">
                  <ion-icon name="star"></ion-icon>
                </ion-badge>
              </ion-card-subtitle>
              <ion-card-title color="light">Mon petit Paris</ion-card-title>
              <div class="shadow"></div>
              <ion-card-content>
                <ion-badge slot="start" color="dark" class="rooms">
                  <ion-icon name="book" color="secondary"></ion-icon>
                  Label
                </ion-badge>

                <ion-badge slot="end" color="success" class="price">
                  <h3><strong>450€</strong></h3>
                </ion-badge>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>

</ion-content>
